@charset "UTF-8";

header#cabecalho{
    border-bottom: 1px #606060 double;
    height: 50px;
}

img{
    display: block;
    width: 400px;   
    height: 180px;
    margin: 15px auto auto auto;
    border: 2px solid white;
    box-shadow: 2px 2px 4px black;
   
}
/*body{
    background-image: url(../imagem/background.png);
}*/
body{
    background-color: rgb(255, 239, 91);
}

div#interface{
    width: 800px;
    margin: -7px auto -40px auto;
    background-color:rgb(252, 233, 65);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}

div.texto p{
    text-indent: 50px;
}

hgroup{
    margin: 50px  0px 0px 0px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

figcaption{
    margin-top: 2px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

nav#menu{
    display: block;
}

nav#menu ul{
    list-style: none;
    position: absolute;
    top: -10px;
    right: 270px;
}

nav#menu li{
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: inline;
    background-color: rgb(248, 193, 53);
    padding: 7px;
    margin: 3px;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: black;
    text-decoration: none;
}

nav#menu a:hover{
    color: #fff ;
}


